#wrapper {
  width: 960px;
  margin: 0 auto;
  transform: translateY(50%); }

p {
  font-size: 15px;
  color: black; }

.panel {
  width: 300px; }

.remove {
  display: none; }

.title {
  background-color: cadetblue;
  border: 2px solid #2d3b57;
  padding: 5px;
  display: block; }
  .title h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #2b2a2a; }

.title:hover {
  background-color: #2b2a2a; }
  .title:hover h2 {
    color: cadetblue; }

#accordion .content {
  display: none; }

#accordion .active .content {
  display: block; }

#accordion .close .conten {
  display: none; }
