#wrapper {
    width: 960px;
    margin: 0 auto;
    transform: translateY(+50%);
}

p {
    font-size: 15px;
    color: black;
}

.panel {
    width: 300px;
}

.remove {
    display: none; }